footer{
    padding-top: 10px;
    text-align: center;
    color: #c99087;
    font-size: 1.5vw;
}
footer .icons{
    margin:  0px;
    padding-bottom: 0px;
    width:auto;
    
}
.footer-copyright{
    
    padding-top: 0px;
    font-family: 'Montserrat', sans-serif;
}
@media(max-width: 750px){
    footer{
        font-size: 3vw;
    }
}