#myNavbar{
    padding-right: 40px;
    
}
.navbar{
    padding-left: 50px;
    padding-bottom: 20px;
}
#myNavbar ul li{
    padding-top: 35px;
    
}
.navbar-brand img{
    min-height: 80px;
}
.navbar-nav li a:hover{
    background-color: transparent;
    color: #ad6256;
}

.navbar-nav li a:focus{
    background-color: transparent;
    color: #e28576;
}
.inside{
    height: 90px;
}
.icon-bar{
    background-color: #797a7c;
}

.navbar-nav li a:hover{
    background-color: transparent;
    color: #ad6256;
}

.navbar-nav li a:focus{
    background-color: transparent;
    color: #e28576;
}
#myNavbar ul{
    float: right;
    color: #797a7c;
    font-size: 1.1vw;
    font-family: 'Fira Sans', sans-serif;
    padding-top: 0px;
    
}
@media(max-width: 615px){
    #myNavbar ul li{
    padding-top: 0px;}
    
}
