#myNavbar{
    padding-right: 40px;
    
}
#myNavbar ul li{
    padding-top: 35px;
    
}
.navbar-brand img{
    min-height: 100px;
}
.navbar-nav li a:hover{
    background-color: transparent;
    color: #ad6256;
}

.navbar-nav li a:focus{
    background-color: transparent;
    color: #e28576;
}
.inside{
    height: 90px;
}
.icon-bar{
    background-color: #797a7c;
}
.navbar{
    padding-left: 50px;
}
ul{
    float: right;
    color: #797a7c;
    font-size: 14px;
    font-family: 'Fira Sans', sans-serif;
    padding-top: 0px;
    
}