.row{
    padding-left: 250px;
}
.container{
    color: #c99087;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: white;
    height: 550px;
    width:auto;
    font-family: 'Lora', serif;
}
.container .first{
    text-align: center;
}
.container img{
    max-height: 500px;
    max-width: 300px;
    
    
}
.container .contain{
    max-width: 1500px;
    min-width: 500px;
}
.container h1{
    font-size: 30px;
}
a{
    color: #c99087;
    text-decoration: none;
}
a:hover{
    color: #ad6256;
    text-decoration: none;
    background-color: transparent;
}
a:active{
    color: #ad6256;
    text-decoration: none;
}

.fa:focus{
    text-decoration: none;
    color: #e28576;
}


@media(max-width: @screen-xs-max){
    .navbar-brand{
        min-height: 90px;
        padding-left: 10px;
    }
    .inside{
    height: 90px;
}
    .row{
        padding-left: 0px;
    }
    h1{
        padding: 10px;
        font-size: 35px;
    }
    .navbar{
    padding-bottom: 12px;
    padding-left: 15px;
}
    ul{
        font-size: 12px; 
    }
    #myNavbar{
        float: right;
        padding-right: 0px;
        
    }
    .container{
        padding-top: 25px;
        padding-left: 25px;
        height: 1000px;
        
    }
    .container img{
        max-height: 300px;
        max-width: 200px;
        
    } 
    .container .first{
        padding-left: 30%;
        padding-bottom: 20px;
        text-align: center;
        
    }
    h7{
        padding-top: 0px;
        font-size: 12px;
    }
    .icons{
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .navbar-nav li{
        padding: 10px;
    }
    
    


}