
.container{
    color: #c99087;
    background-color: #edd0cb;
    width: auto;
    font-family: 'Lora', serif;
      
}
.container h1{
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 50px;
    font-size:60px;
}

.container:hover{
    background-color: #c99087;
}
a{
    color: #c99087;
    text-decoration: none;
}
a:hover{
    color: #ad6256;
    text-decoration: none;
    background-color: transparent;
}
a:active{
    color: #ad6256;
    text-decoration: none;
}

.fa:focus{
    text-decoration: none;
    color: #e28576;
}


@media(max-width: 750px){
    .navbar-brand{
        min-height: 90px;
        padding-left: 10px;
    }
    .inside{
    height: 90px;
}
    h1{
        padding: 10px;
        font-size: 35px;
    }
    .navbar{
    padding-bottom: 12px;
    padding-left: 15px;
}
    ul{
        font-size: 12px; 
    }
    #myNavbar{
        float: right;
        padding-right: 0px;
        
    }
    .container h1{
        padding-top: 120px;
        padding-bottom: 120px;
        font-size: 300%;
    }
    h7{
        padding-top: 0px;
        font-size: 12px;
    }
    .icons{
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .navbar-nav li{
        padding: 10px;
    }
    
    


}