.navbar-brand{
    min-height: 120px;
}
.inside{
    height: 120px;
}
.icon-bar{
    background-color: #797a7c;
}
#myNavbar{
    padding-right: 40px;
    padding-top: 30px;

}
.navbar{
    padding-bottom: 50px;
    padding-left: 50px;
}
ul{
    float: right;
    color: #797a7c;
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
    
}

.container{
    color: #c99087;
    padding-top: 200px;
    background-color: #edd0cb;
    height: 600px;
    width: auto;
    font-family: 'Lora', serif;
      
}
h1{
    padding-left: 50px;
    font-size:50px;
}
a{
    color: #c99087;
    text-decoration: none;
}
footer{
    text-align: center;
    color: #c99087;
    font-size: 35px;
}
h7{
    font-size: 15px;
    padding-top: 0px;
}
.icons{
    margin: 10px
}
a:hover{
    color: #ad6256;
    text-decoration: none;
}
a:active{
    color: #ad6256;
    text-decoration: none;
}

@media(max-width: 600px){
    .navbar-brand{
        min-height: 90px;
        padding-left: 10px;
    }
    .inside{
    height: 90px;
}
    h1{
        padding: 10px;
        font-size: 35px;
    }
    .navbar{
    padding-bottom: 50px;
    padding-left: 15px;
}
    ul{
        font-size: 12px; 
    }
    #myNavbar{
        float: right;
        padding-right: 0px;
        
    }

}